/*=============== SUB ===============*/
.sub{
    padding: 3.5rem 0 1rem;

    &__container{
        position: relative;
        row-gap: 1rem;
    }
    &__title{
        font-size: var(--h1-font-size);
        line-height: 120%;
        margin-bottom: var(--mb-1);
    }
    &__carrousel{
        display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 1.2rem;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
    }

    &__carrousel::-webkit-scrollbar {
        display: flex;
    }

    &__card{
        background-color: var(--container-color);
        padding: 2.5rem 3rem 2rem 1.5rem;
        border-radius: 1rem;
      }
      
      &__card-number{
        display: inline-block;
        background-color: var(--first-color-alt);
        color: #FFF;
        padding: .5rem .75rem;
        border-radius: .25rem;
        font-size: var(--h2-font-size);
        margin-bottom: var(--mb-1-5);
        transition: .3s;
      }
      
      &__card-title{
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-0-5);
      }
      
      &__card-description{
        font-size: var(--small-font-size);
      }
      
      &__card:hover .steps__card-number{
        transform: translateY(-.25rem);
      }
}